<div id="editMeasurementWrapper">
    <hr>
    <div class="row">


        <!-- edit form column -->
        <div class="col-xs-12 personal-info">
            <div class="alert alert-info alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-plus"></i>
                Add <strong>Measurements</strong>. Make sure you fill all required fields.
            </div>

            <form class="form-horizontal" role="form" novalidate angular-validator name="addMeasurementForm" angular-validator-submit="AddMeasurement()">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <label class="control-label">MeasurementName</label>
                            <input class="form-control" name="title" type="text" ng-model="measurement.MeasurementName"
                                   validate-on="blur" required required-message="'Measurement Name is required'">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <label class="control-label">MeasurementUnit</label>
                            <input class="form-control" name="title" type="text" ng-model="measurement.MeasurementUnit"
                                   validate-on="blur" required required-message="'Measurement Unit is required'">
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <label class="control-label">AverageWeight</label>
                            <input class="form-control" name="title" type="text" ng-model="measurement.AverageWeight"
                                   validate-on="blur" required required-message="'Average Weight is required'">
                        </div>
                    </div>
                </div>


                <br />
                <div class="form-group col-xs-4">
                    <label class="control-label"></label>
                    <div class="">
                        <input type="submit" class="btn btn-primary" value="Save" />
                        <span></span>
                        <a class="btn btn-default" ng-href="#/">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>


</div>